body {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.wrapper {
  width: 1440px;
  height: 1198px;
  background: #fafbff;
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  .wrapper {
    width: 440px;
    height: 1720px;
    flex-direction: column;
  }
}
